.menu {
  &__items {
    display: flex;
    column-gap: 25px;
  }

  &__link {
    @apply md:text-light-400 md:text-base relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 1px;
      bottom: -2px;
      left: 0;
      background: linear-gradient(270deg, #986dff 0%, #17161d 100%);
      transform-origin: bottom right;
      transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &:hover {
      &::after {
        transform-origin: bottom left;
      }
    }
    @apply duration-500 md:hover:after:scale-x-[1px] md:hover:text-light-900;
  }

  li {
    &:first-child {
      a {
        @apply text-light-900;

        &::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
}
.active {
  a {
    @apply after:scale-x-[1px] text-light-900;
  }
}
.logo {
  a {
    color: #fff;
  }
}
//language
.language {
  display: flex;

  a {
    background: none;
    border: none;
    padding-right: 9px;
    position: relative;
    opacity: 0.6;
    cursor: pointer;

    @apply md:text-white md:mt-0 mt-6 md:text-lg text-2xl;

    &::after {
      content: '|';
      opacity: 0.6;
      position: absolute;
      right: 4.5px;
      transform: translateX(50%);
      top: -1px;
    }

    &:last-child {
      padding-right: 0;

      &::after {
        right: 0;
        color: black;
        @apply hidden;
      }
    }
  }

  .language__active {
    opacity: 1;
  }
}
