.skills {
	padding-top: 55px;
	padding-bottom: 45px;
}
.title {
	text-align: center;
	//color: var(--black);
}
.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 45px;
	align-items: center;

	svg {
		width: 100%;
		height: auto;
	}
	svg path {
		fill: #fff;
	}
}
.buttons {
	display: flex;
	column-gap: 15px;

	button {
		border-color: #fff;
		background: none;
		width: 35px;
		height: 35px;
		padding: 1px; 
		border-radius: 50%;

		&:first-child {
			transform: rotate(180deg);
		}
	}
}
.items {
	display: flex;
	justify-content: center;
	gap: 10px;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 940px;
}

.item {
	display: flex;
	align-items: center;
	padding: 0;

	column-gap: 1rem;

	img {
		width: 60px;
		max-height: 55px;
		object-fit: contain;
		padding: 0px;
		position: relative;
		display: block;
	}
}

//
.list {
	.swiper-slide {
		max-width: fit-content;
	}
}
