.btn-remove-rename{
	background: none;
	border-radius: 5px;
	padding: 5px 9px;
	background-color: #dc3645;
	transition: 0.7s;
	border: 1px solid rgba(red, 0);
	&:hover{
		border: 1px solid black;
		opacity: 0.7;
	}
}
.btn-rename{
	background-color: #42af5a;
}