.title {
  line-height: normal;
  font-weight: 700;
  color: var(--white);
  font-variant-numeric: lining-nums proportional-nums;
}

.h1 {
  font-size: 41px;
  font-style: normal;
}
.h2 {
  font-size: 32px;
}
.h5 {
  font-size: 21px;
}
